*{
 box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  }
 body {
 overflow-x: hidden; 
   -ms-overflow-style: scrollbar;
   overflow-y: scroll;
   font-size: 19px;
   color: hsla(213, 49%, 23%, 0.986);
   font-family: Arial,Helvetica,sans-serif;
}
.avator{
  height: 30px;
  border-radius: 50%;
}
.circle{
  color: #73eee49c;   
 font-size: 15px;
 font-weight: 600;
  cursor: pointer;
  padding: 0px 20px;
}
.circle:hover{
  color: white;
}
 .main{
  min-width: 100%;
  padding: 10px;
  margin: 0px;
 }
 .foot{
   text-align: center;
   background-color: rgba(0, 0, 0, 0.89);
   padding: 20px;
   color: rgba(255, 255, 255, 0.801);
   font-size: 16px;
 }
 .nav{
 z-index: 1000;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 16px;
  font-weight: lighter;
 }
 .link {
  color: #73eee49c;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
 }
 #navbar{
  font-size: 15px;
  font-weight: 600;
  display: flex;
  position: relative;
  justify-content: space-between;
 }
 
 #navbar a{
  color: #a4f3ec8f;   
   padding: 0px 20px;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-between;
 }
 #navbar a:hover ,#navbar a.active{
  color: white;
  font-weight: 600;
  justify-content: space-between;
 }
 #searchbox {
left: 50px;
  border-radius: 2rem;
position: relative;
  width: 90%;
  transition: .6s all ease-in;
  justify-content: space-between;
}
.close{
  padding: 0px 15px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
 #searchbox input{
   min-width: 70%;
   font-weight: 500;
color: black;
padding: 10px;
   border: none;
   font-size: 15px;
   justify-content: space-around;
   outline: none;
 }
 .link a.active{
color: white;
 }
 .box{
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
justify-content: space-between;
  padding: 20px;
  text-align: start;
  margin: 10px;
  display: flex;
  font-family: Arial,Helvetica,sans-serif;
  animation: box 0.8s linear backwards ;
 }
 @keyframes box{
   0%{
     opacity: 0;
     transform: translateY(10rem);
   }
 }
 .box1{
   width: 100%;
  justify-content: space-between;
  color: white;
background-image: url(image/bg-footer.jpg) ;
background-size: cover;
z-index: 100;
background-repeat: no-repeat;
 }
 .social {
display: block;
 }
 .social p{
   padding: 0px 10px;
 }
 .social i{
   padding: 0px 5px;
   color: blanchedalmond;
 }
 .social i:hover{
color: aqua;
 }
 .bars{
   display: none;
 }
 .box1 .section{
   padding: 30px;
  justify-content: space-between;
  background: rgb(173, 160, 160); /* Fallback color */
  background: #13101080; /* Black background with 0.5 opacity */
  display: block;
  font-family: 'Dongle', sans-serif;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.842);
 }
 .flex{
   padding: 0px 60px;
   display: flex;
   justify-content: space-between;
 }
 .box1 section:nth-child(1){
  padding: 30px -20px;
 }
 .box1 section .send h1{
  padding: 20px;
  margin-top: 0px;
 }
 .send{
  background-color: white;
  color: rgb(168, 143, 134);
  padding: 20px;
  width: 100%;
 }
 .send h1{
  font-size: 20px;
  color: rgb(38, 170, 170);
 }
 .input{
  background-color: whitesmoke;
  width: 90%;
  height: 35px;
  color: blue;
  outline: none;
  border: none;
  border-top: 1px solid rgb(224, 221, 221);
  font-size: 14px;
}
.input1{
  background-color: whitesmoke;
 color: blue;
 outline: none;
 width: 90%;
 border: none;
 border-top: 1px solid rgb(224, 221, 221);
 font-size: 19px;
 height: 100px;
}
.btn1{
 cursor: pointer;
 font-size: 17px;
 border-radius: 0.3rem;
 padding: 7px ;
 color: white;
 font-weight: bolder;
 background-color: rgb(16, 135, 156);
 background-size: 100% 200%;
 transition: all 0.8s;
}
.btn1:hover{
 background-position: left bottom;
 color: white;
 border: none;
 background-image: linear-gradient(to bottom,
 rgb(33, 189, 19) 20%,rgb(73, 247, 38) 50%,rgb(136, 255, 0) 100%);
}
.in{
 border: none;
 color: blue;
background-color: black;
outline: none;
font-size: 18px;
}
 .box2{
  background-color: rgba(139, 50, 125, 0.904);
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 40px;
 }
 .box2 section{
   display: flex;
   font-size: 15px;
   font-weight: 520;
   padding: 20px;
 }
 .box2 section h1{
   font-size: 50px;
   text-align: center;
 }
 .box3{
   flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
 }
 .box3 section{
width: 50%; 
 padding: 30px;
  text-align: center;
 }
 .box3 section p{
  font-family: Arial,Helvetica,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  padding-bottom: 45px;
  border-bottom: 1px solid rgb(223, 216, 216);
 }
 .box4{
   text-align: center;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-position: center center;
   background-size: cover;
   transition: opacity 0.5s;
    background-image: url(image/bg-footer.jpg);
   background-repeat: no-repeat;
 }
 .box4 .sec{
  justify-content: space-between;
  background: rgb(0, 0, 0); /* Fallback color */
  background: #0a0a0ab6; /* Black background with 0.5 opacity */
  padding: 40px;
  font-family: 'Dongle', sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.842);
 }
 
 span {
  text-align: center;
  color: rgb(23, 179, 179);
 }
 .box3 section span{
  font-size: 20px;
  color: tomato;
}
 .box4 .box section{
  margin: 45px;
 }
 .box5{
  background-color: rgba(11, 46, 38, 0.966);
}
 .box5 section{
  justify-content: space-between;
  padding: 40px;
  text-align: center;
  font-weight: 120;
  font-size: 14px;
  color: white;
 }
 .box7 section h1{
   font-size: 26px;
 }
 .box7{
  justify-content: space-between;
  padding: 40px;
  text-align: center;
  flex-wrap: wrap;
  font-weight: 120;
  font-size: 14px;
  background-color: rgba(11, 46, 38, 0.966);
  color: white;
 }
 .box5 h1{
font-size: 30px;
padding: 20px;
 }
 .box6{
   text-align: center;
   margin: 20px;
   font-size: 16px;
   font-weight: lighter;
   justify-content: space-between;
 }
 .box6 .box section{
   padding: 50px;
   font-size: 20px;
   text-align: center;
 }
 .box6 .box section h1{
   padding: 20px 0px;
   font-weight: lighter;
 }
 .box6 .box section span{
font-size: 30px;
 }
 .icon{
   background-color: rgb(16, 135, 156);
   width: 60px;
   height: 60px;
   border-radius: 50%;
   color: white;
   padding: 10px;
   text-align: center;
   font-size: 27px;
   display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 2rem;
    text-align: center;
    max-width: 100%
    box-shadow 0.1s;
 }
 .icon1{
  background-color: rgb(16, 135, 156);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-flex;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   font-size: 1.4rem;
   text-align: center;
   max-width: 100%
   box-shadow 0.1s;
}
   .footer{
    background-image: url(image/bg-footer.jpg);
     left: 0;
     right: 0;
     background-position: center center;
     background-size: cover;
     transition: opacity 0.5s;
      justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  }
   .section {
     font-size: 16px;
    justify-content: space-between;
    background: rgb(0, 0, 0); /* Fallback color */
    background: #030303d0; /* Black background with 0.5 opacity */
    position: static;
     color: rgba(255, 255, 255, 0.589);
     font-size: 20px;
     padding: 100px;
     width: 100%;
    display: flex;
    font-weight: lighter;
  }
   .footer section{
    padding: 20px;
    width: 40%;
    font-family: Arial,Helvetica,sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
   }
   .log{
     height: 50px;
   }
 @media screen and (max-width:800px) {
  #navbar {
    background-color: rgba(37, 27, 27, 0.705);
   margin-top: 9%;
    padding: 0px 40px;
    font-size: 15px;
    font-weight: 600;
    left: -180%;
    display: block;
    min-width: 120%;
    min-height: 80%;
    position: absolute;
    overflow-y: hidden;
  }
   #navbar a{
    color: rgb(38, 245, 245);
padding: 20px;
display: block;
   }
 #navbar.active{
   left: -20px;
   transition: .7s all;
 }
  .nav{
    margin-top: 0px;
    z-index: 1;
    padding: 10px;
    position: sticky;
  }
  .bars{
    cursor: pointer;
    color: #73eee49c important!;   
    font-weight: 600;
    display: block;
  }
   .box ,.flex {
     display: block;
     padding: 10px;
   }
   .box1 section h1{
    margin-top: 10px;
    text-align: center;
   }
   .box1 .section{
     text-align: center;
     font-size: 13px;
     padding: 20px;
   }
   .box2{
     text-align: center;
justify-content: center;
     display: block;
   }
   .box3 section{
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    width: 100%;
    text-align: center;
    padding-bottom: 45px;
    border-bottom: 1px solid rgb(223, 216, 216);
   }
   .box4 .box section{
    margin: 15px;
   }
   .box5{
     display: block;
   }
 .section{
     padding: 20px;
     display: block;
   }
   .footer section{
    padding: 20px;
    width: 100%;
    font-family: Arial,Helvetica,sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
   }
   .box{
     width: 100%;
     padding: 0px;
     margin: opx;
   }
}
@media screen and (max-width: 770px) {
  .nav{
    margin-top: 0px;
    padding: 10px;
  }
.link a{
  display: none;
}
.bars{
  display: block;
}
.bars{
  cursor: pointer;
  color: #73eee49c;   
 font-size: 15px;
 font-weight: 600;
  display: block;
}
.box7 section h1{
  font-size: 40px;
}
.footer section{
  padding: 10px;
  width: 100%;
  font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
 }
}
